body{

background:#4fb3f5;
display:flex;
flex-direction:column;
align-items:center;
margin:0;
font-family:Arial;

}

canvas{

background:#16a8ec;
border:10px solid #000000;
margin-top:10px;

}

.top-bar{

width:600px;
display:flex;
justify-content:space-between;
color:white;
font-size:22px;
margin-top:10px;

}

.menu-icon{

font-size:28px;
cursor:pointer;

}

.menu{

position:absolute;
top:60px;
right:20px;
background:#009999;
padding:15px;
border-radius:10px;
display:none;
flex-direction:column;
gap:10px;

}

.menu button{

padding:8px;
border:none;
cursor:pointer;
border-radius:5px;

}

.gameover{

position:absolute;
top:40%;
background:#000000cc;
color:white;
padding:30px;
border-radius:10px;
display:none;
text-align:center;

}

.controles{
margin-top:20px;
}

.controles button{
font-size:30px;
padding:15px;
margin:5px;
border-radius:10px;
border:none;
background:#1c5d8c;
color:white;
}